body {
  background-image: linear-gradient(to left, gray, darkgray);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: Arial;
  margin: 20px;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  float: left;
}

.navLink {
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-image: linear-gradient(to top, #000066, #000099);
}

.bodyContent {
  display: block;
  padding: 10px;
  padding-top: 2px;
  margin: 10px;
  margin-left: 0;
  background-color: rgba(255, 255, 255, .65);
  width: 1000px;
}

.inlineImage {
  width: 600px;
}

.captionText {
  font-style: italic;
  font-size: 10pt;
}

.preformatted {
  font-family: Courier;
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }
  .bodyContent {
    width: 100%;
  }
  .inlineImage {
    width: 100%;
  }
}
